################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MemoryTrainer/obj
/src/MemoryTrainer.Lib.Test/obj
/src/MemoryTrainer.Lib/obj
/src/MemoryTrainer/bin/Debug/netcoreapp3.1
/src/MemoryTrainer.Lib/bin/Debug/netcoreapp3.1
/src/MemoryTrainer.Lib.Test/bin/Debug/netcoreapp3.1
/src/MemoryTrainer/.vs

