################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MemoryTrainer/obj
/src/MemoryTrainer/bin/Debug/netcoreapp3.1
/src/MemoryTrainer/bin/Release/netcoreapp3.1
/src/MemoryTrainer/.vs
/.vs
*.suo
/src/MemoryTrainer/bin/Debug/net5.0-windows
/src/.vs/MemoryTrainer/DesignTimeBuild/.dtbcache.v2
/src/Generic.MVVM/bin/Debug/netstandard2.0
/src/Generic.MVVM/obj
